@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-image: url(img/bg/christoph-nolte-xDWBuZIQtGc-unsplash.jpg);
    background-size: cover;
}

header{
    background-image: url(img/bg/nasa--hI5dX2ObAs-unsplash.jpg);
    opacity: 60%;
    border-bottom: 2px #FFF0F5 solid;
    width: 100vw;
    height: 20vh;
    background-size: cover;
    object-fit: contain ;
}
h1, h3, p{
    color: #FFF0F5;
    font-family: poppins;
}
a{
    font-family: poppins;
    text-decoration: none;
}
#name{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#working-position{
    font-size: 15px;
    margin-top: 3px;
    color: rgb(165, 165, 165);
}

.about-me{
    margin-left: 30%;
}
#intrests{
    max-width: 650px;
}
.project-wrapper{
    width: 100vw;
}
.project-item{

    border: 1px solid #000000;
    border-radius: 20px;
    width: 30%;
    transition: transform 0.6s ease;

}
.project-item img{
    width: 75%;
    padding-left: 50px;
}
.project-item p{
    font-size: 20px;
    text-align: center;
}

.project-item:hover{
    transform: translate(20px, 10px);
    box-shadow: -5px -5px #03000e;
}

#project-title{
    margin-left: 45%;
}
#graph{
    float: right;
    margin-right: 15%;
}
#calculator{
    float: left;
    margin-left: 15%;
}
#moving-square-animation{
float: left;
margin-left: 15%;
margin-top: 2% ;
}
a:visited, a:hover{
    color: #FFF0F5;
}
.link-item{
    margin-left: 5%;
    color: #FFF0F5;
}
#moving-square-animation{
    background: url(img/bg/massimiliano-morosinotto-MljwsnGwdOY-unsplash.jpg);
    background-size: cover;
}
#graph{
    background: url(img/bg/adrien-converse-FWhTeWRCeis-unsplash.jpg);
    background-size: cover;
}
#calculator{
    background: url(img/bg/maria-orlova-bU8TeXhsPcY-unsplash.jpg);
    background-size: cover;
}
.contact-info img{
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #FFF0F5;
}