@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-color: #161616;
}
header{
    background-image: url(img/hero1.jpeg);
    width: 100vw;
    height: 10vh;
    background-size: cover;
    object-fit: contain ;
}
h1, h3, p{
    color: white;
    font-family: poppins;
}
#name{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
#working-position{
    font-size: 15px;
    margin-top: 3px;
    color: rgb(165, 165, 165);

}
.about-me{
    margin-left: 30%;
}
#intrests{
    max-width: 650px;
}
.project-wrapper{
    width: 100vw;
}
.project-item{
    border: 1px solid rgba(255, 255, 255, 0.149);
    border-radius: 20px;
    width: 30%;

}
.project-item img{
    width: 75%;
    padding-left: 50px;
}
.project-item p{
    font-size: 20px;
    text-align: center;
}
#project-title{
    margin-left: 45%;
}
#graph{
    float: right;
    margin-right: 15%;
}
#calculator{
    float: left;
    margin-left: 15%;
}